/*-- CSS Reset --*/
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1rem;
}

/*-- Main Styling --*/

body {
    background: #FFEEDF;
    color: #240E03;
    font-family: roboto 
}

section, header {
    width: 80%;
    max-width: 600px;
    margin: auto; 
}

section, header {
    margin-bottom: 0.3rem;
}

p, blockquote {
    padding: 1rem 0 0.5rem 0;
    line-height: 1.3;
}

blockquote {
    font-family: imbue;
}

h1, h2 {
    color: #240E03;
    font-family: imbue;
}

h1 {
    font-size: 5.5rem;
    margin-top: 7rem;
    padding-bottom: 0.5;
    line-height: 1.2;
}

h2 {
    font-size: 3.5rem;
    margin: 5rem 0 2rem 0;
}

.bruno {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

blockquote {
    font-style: italic; 
    font-size: 1.5rem;
    color: #5f2507;
    hanging-punctuation: first;
    text-indent: -0.7rem;
}

blockquote cite {
    font-style: normal;
    font-size: 1rem;
    color: #5f2507; 
}

.leader {
    text-transform: uppercase;
}

.dropcap {
    font-family: sabbath-black, serif;
    font-weight: 800;
    font-style: normal;
    float: left;
    font-size: 6rem;
    padding-right: .05em;
    line-height: .5;
    color: #240E03;
}

.market {
    background-color: #e4db89;
    padding: 10px 0;
}

.market p, h2 {
    color: #5f2507;
}

.sunflowers {
    padding-top: -2rem;
}

/*-- styling links --*/
a {
    color: #240E03;
    text-decoration: none;
}

a:hover {
    color: #240E03; 
    border-bottom: 1px solid;
}

/*-- navigation --*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #240E03;
    padding: 1.5rem 0;
    font-size: 0.75rem;
    opacity: 80%;
}

nav ul {
    font-family: imbue;
    color: #A5876A;
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

nav ul li {
    display: inline; 
    margin: 20px;
    background: none;
}

nav a {color: #dacf74}

nav a:hover {
    border-style: double #240E03;
    border-radius: 5px;
    color: #855841; 
    transition: all 1s ease-in-out ;
}


.gridimage {
    display: grid;
    column-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}


/*-- Images --*/
.topimage {
    margin: -2rem 0;
}

.fruit {
    float: right;
    padding: 0 0 20px 20px;
}


img{
    display:block;
    margin: 2rem 0;
    padding: 0;
    max-width: 100%;
}


hr {
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 3px;
    background-color: #240E03; 
    color: #240E03;
    border: 0 none; 
}

footer {
    background: #212D29;
    text-align: center;
    font-size: 1.2rem;
    color: #C29720;
    margin-top: -4rem;
    padding: 2em 0 1em 0
    }

    .footerimg {
        margin-bottom: -2rem 0;
    }
    
    footer p {
        width: 30%;
        margin: auto;
        margin-top: 5rem;
        margin-bottom: 2rem;
        font-family: imbue;
        font-size: 1.4rem;

    }

    footer a {
        color: #C29720;
        padding: 15px 15px;
        font-family: imbue;
        font-size: 1.8rem;
        letter-spacing: 2px;
        word-spacing: 3px;
        text-transform: uppercase;
    }

    footer a:hover {
        border: solid #240E03;
        border-radius: 5px;
        color: #240E03; 
        transition: all 1s ease-in-out ;
    }

    footer ul li {
        display: inline; 
        margin: 30px;
        background: none;
    }
